*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing:0.2rem;
    /* background: rgba(243, 234, 234, 0.144); */
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

a{
  text-decoration: none;
  color:currentColor;
}
/* shared properties */
nav, .logo, section, footer, .address-map{   
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav, main, footer{
  padding:0.5rem;
  box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.25882352941176473);
}
nav{
  height: 3rem;
  box-shadow: 0px -4px 3px -4px #000 inset;
  /* box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25882352941176473); */
  
    /* background: currentColor; */
}
.nav-contact{
  margin: 2rem 0;
  box-shadow: 0px 0px 0px 0px transparent;
}
img, .menu-btn{
    height:100%;
}
.logo, .menu-btn{
    width: 2.5rem;
}
.img-logo{
    height: 2.5rem;
    /* width: 2.5rem;/ */
    /* overflow: hidden; */
    /* border: 1px solid #e2d7d7c7;
    border-radius: 50%; */
}
.menu-btn{
    background-image: url(./assets/three-dots.svg);
    background-size:1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
}
.carousel{
    background-color: #55762fc2;
}

/* contact btn */

.custom-btn {
    width: 130px;
    height: 40px;
    color: #674203;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
.contact-btn {
    background:#da983f;
    background: linear-gradient(0deg, #da973fb0 0%, #da973f 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
  }
.contact-btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
.contact-btn:before,
.contact-btn:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #537c01b4;
    transition: all 0.3s ease;
  }
.contact-btn:before {
    height: 0%;
    width: 2px;
  }
.contact-btn:after {
    width: 0%;
    height: 2px;
  }
.contact-btn:hover{
     background: transparent;
    box-shadow: none;
  }
.contact-btn:hover:before {
    height: 100%;
  }
.contact-btn:hover:after {
    width: 100%;
  }
.contact-btn span:hover{
     color:#674203;
  }
.contact-btn span:before,
.contact-btn span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     /* background: rgba(2,126,251,1); */
    background: #537c01b4;
    transition: all 0.3s ease;
  }
.contact-btn span:before {
    width: 2px;
    height: 0%;
  }
.contact-btn span:after {
    width: 0%;
    height: 2px;
  }
.contact-btn span:hover:before {
    height: 100%;
  }
.contact-btn span:hover:after {
    width: 100%;
  }
  
main{
    margin-top:0.5rem;
    padding: 1rem;
  }
section{
    margin: 1.5rem 0;
    padding: 1rem;
    flex-direction: column;
    border-radius: 0.2rem;
    /* box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.26); */
    /* box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.26); */
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.26);
  }
p, span{
  line-height: 2.7;
}
span{
  /* cambiar a padding 0 en las mediaqueries */
  padding-left: 0.7rem;
}
p{
  font-size: 0.6rem;
  text-align: center;
}
.services-list{
  padding: 0;
  list-style:none;
}
li{
  display: flex;
  justify-content: left;
  align-items: center;
  /* text-align:left; */
}
li span{
  font-size: 0.7rem;
}
svg{
  justify-content: flex-start;
}

.contact{
  /* cambiar flex direction por row wrap en el mediaquery */
}
article{
  margin-top:2rem;
  display: block;
  text-align: center;
}
footer{
  padding-bottom: 2rem;
  display: block;
}
footer, .signature{
  background-color: #55762fc2;
}
.img-footer{
  width: 8rem;
  align-self: center;
}
.logo-address{
  display:flex;
  justify-content: center;
  flex-flow: column nowrap;
}
.address{
  margin: 0;
  padding: 0;
  color: aliceblue;
}
.address li{
  justify-content: center;
}
.address-span{
    padding: 0;
}
/* cambiar mediaquery de addres-map */
iframe{
  width: 12rem;
  border-radius:0.2rem;
}
.signature{
/* cambiar a flex-end en el mediaquery */
  justify-content: center;
}
.signature span, .signature a{
  font-size: 0.6rem;
  text-align: right;
  color: #dae6cce5;
}