@font-face {
  font-family: Cinzel;
  src: url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative') format('woff2');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cinzel Decorative', cursive;
  /* font-size: 1rem; */
  /* font-size: calc(0.55rem + 1.5vw); */
  font-size: var(--font-size);
  font-weight:var(--f-weight);
  letter-spacing:0.2rem;
  /* background: rgba(243, 234, 234, 0.144); */
  scroll-behavior: smooth;
}
/* reset */
img{
  max-inline-size: 100% !important;
  block-size: auto;
}
header{
  display: flex;
  justify-content: center;
}
/* body{
  /* max-width: var(--body-max-width); *
  display: var(--display-flex);
  justify-content: var(--center);
  flex-direction: var(--column);
} */
body, img, nav, main, .gallery{
  animation: fade-in 0.5s ease-in-out both;
}
.fade-animation{
  animation: fade-in 0.5s ease-in-out both;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  /* font-size: 24px; */  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

a{
  text-decoration:var(--none);
  color:currentColor;
}
h3{
  /* font-size: calc(1.3rem + 1.6vw); */
  font-size: clamp(1.5rem, 1.3rem + 1.5vw, 2rem);
  text-align: center;
}
.none{
  display: var(--none);
}
.flex{
  display: var(--display-flex);
}
section span, p{
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1.1rem;
  letter-spacing:0.1rem;
  color: rgba(0, 0, 0, 0.774);
}
/* shared properties */
nav, .logo-text, .logo, section, .contact, footer, .address-map, .slider-container{   
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav, footer{
  padding:1vh 4.5vw;
  box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.25882352941176473);
}
nav{
  height: 3rem;
  /* box-shadow: 0px -3px 2px -3px #000 inset; */
  /* box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25882352941176473); */
  
    /* background: currentColor; */
}
.sticky-nav{
  /* position: sticky;  poner en el mediaquerie*/
  /* top: 0;
  z-index: 4; */
  height: 3.5rem;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.966);

  /* position: -webkit-sticky; safari */
}
.nav-contact, .contact-btn{
  margin: var(--btn-margin);  
}
.nav-contact{
  margin-top: 0;
  padding: 0;
  height: auto;
  box-shadow: 0px 1px 4px 0.3px rgba(0, 0, 0, 0.315);
  border: none;
  /* box-shadow: 0px 0px 0px 0px transparent; */
}
.menu-btn, .img-menu, .back-btn{
  height:100%;
}
.logo, .menu-btn, .back-btn{
  width: 2.5rem;
}
.logo-text{
  height: 2.5rem;
}
.img-logo{
  height: 3.5rem;
}
.menu-btn, .back-btn{
  height: 1.5rem;
  background-color: transparent;
  border: none;
}
.back-btn{
  display: none;
  justify-content: center;
  align-items: center;
}
.contact-span{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
}
/* menu mobile */
.opacity-container{
  width: 100%;
  height: 100%;
  display: none;
  position:absolute; 
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.568); 
}
.menu-mobile-container{
  padding: 1rem;
  width:var(--menu-mobile-width);
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  position:absolute;
  /* left: -350px; */
  left: -80vw;
  background-color: rgb(255, 255, 255);
  border-right: 0.5px solid rgba(168, 168, 168, 0.877);
  z-index: 7;
  scroll-behavior: unset;
  /* transition: all 0.4s linear; */
  transition: all 0.4s cubic-bezier(.65,.05,.36,1);
}
/* .opacity-container.active, .menu-mobile-container.active{
} */
.opacity-container.active{
  display: flex;
}
.menu-mobile-container.active{
  left: 0;
  transition: all 0.4s linear;
}
.ul-list{
  margin: 1rem 0 0;
  padding: 0;
  width: 100%;
  display:flex;
  flex-flow: column wrap;
}
.ul-list li a{
  padding-bottom: 0.3rem;
  width: 100%;
  border-bottom: 0.5px solid #55762fc2;
}
.ul-list a:hover{
  color: #985300;
}
.ul-list li{
  margin: 1rem 0;
  padding-left: 0.5rem;
}
.close{
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: 0.5px solid #55762fc2;
}
.undo-rotate{
  animation: undoRotate .5s ease-in-out;
}
.rotate{
  animation: rotate .5s ease-in;
}
.no-scroll{
  overflow: hidden;
}
.carousel{
  background-color:var(--black-background);
}
.carousel-inner{
  height: auto;
}
.d-block{
  /* cambiar en mediaqueries */
  height: 35vh;
  aspect-ratio:2/1;
  object-fit: contain;
}
/* contact btn */

.custom-btn {
    width: 130px;
    height: 40px;
    color: #674203;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
.contact-btn {
  padding: 0;   
  width: 130px;
  height: 40px;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  /* cambiar a un medida apropiada/ em, rem, ch */
  line-height: 42px;
  text-align: center;
  /* color: antiquewhite; */
  color: #fcfdfe;
  background:#7e5012;
  /* background: linear-gradient(0deg, #e28d24 0%, #dbae77 100%); */
  border: none;
}
.contact-btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
.contact-btn:before,
.contact-btn:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    /* background: #537c01b4; */
    background: #3b8205cc;
    transition: all 0.3s ease;
  }
.contact-btn:before {
    height: 0%;
    width: 2px;
  }
.contact-btn:after {
    width: 0%;
    height: 2px;
  }
.contact-btn:hover{
    background: transparent;
    box-shadow: none;
  }
.contact-btn:hover:before {
    height: 100%;
  }
.contact-btn:hover:after {
    width: 100%;
  }
.contact-btn span:hover, .ctm-btn-a:hover{
     color:#7e5012;
  }
.contact-btn span:before,
.contact-btn span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     /* background: rgba(2,126,251,1); */
    background: #3b8205cc;
    transition: all 0.3s ease;
  }
.contact-btn span:before {
    width: 2px;
    height: 0%;
  }
.contact-btn span:after {
    width: 0%;
    height: 2px;
  }
.contact-btn span:hover:before {
    height: 100%;
  }
.contact-btn span:hover:after {
    width: 100%;
  }
  
.carousel-btn{
  width: auto;
  height: auto;
  display: var(--display-flex);
  justify-content: var(--center);
  border: var(--border-none);
  background: var(--background-none);

}
main{
    margin-top:0.5rem;
    padding: 1rem;
}

section, .contact, .slider-container{
    margin: 1.5rem 0;
    padding: 1rem;
    flex-direction: column;
    border-radius: 0.2rem;
    box-shadow: 0px 1px 4px 0.3px rgba(0, 0, 0, 0.315);
}
p{
  margin: 1rem 0;
  max-inline-size: 45rem;
  line-height: 2;
  text-align: center;
}
.services-list, .rate-list{
  padding: 0;
  list-style:none;
}
.services-list li, .rate-list li{
  margin: 0.5rem 0;
}
.services-list img, .rate-list img, .address img{
  /* width: 1.3rem; */
  width:clamp(1.5rem, 1rem + 2vw, 2rem);
  opacity: .8;
}
.services-list span, .rate-list span{
  padding-left: 1rem;
}
li{
  display: flex;
  justify-content: left;
  align-items: center;
  /* text-align:left; */
}
svg{
  justify-content: flex-start;
}
#asterisco-container{
  margin:2rem 0 0;
}
.asterisco-container li{
  width: 1rem;
  text-align: center;
}
.rate-list{
  width: 100%;
}
/*pop out effect embedded */
.profile-pic {
  /* pointer-events: none; */
  /* position: relative; */
  border-radius: 50%;
  /* transform: translateY(20px) scale(1.15); */
  /* transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1); */
}
/* .profile-pic:hover {
  transform: translateY(0) scale(1.2);
  border-radius: 50%;
} */
/* ------------------ */
.profile-pic{
  width: 10rem;
  height: 10rem;
  background-size: contain;
  object-fit: cover;
}
article{
  margin-top:2rem;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
footer{
  padding-bottom: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
footer, .signature{
  /* background-color: #55762fc2; */
  background-color: #0c0f1f;
}
.img-footer{
  width: 8rem;
  align-self: center;
}
.logo-address{
  display:flex;
  justify-content: center;
  flex-flow: column nowrap;
}
.address{
  margin-top: 1rem;
  padding: 0 1rem;
  width: 15rem;
  height: 4rem;
  display: block;
  align-self: center;
  text-align: center;
  color: aliceblue;
}

/* .address span{
  font-size: 0.7rem;
} */
/* cambiar mediaquery de addres-map */
iframe{
  width: 20rem;
  border-radius:0.2rem;
}
.signature{
/* cambiar a flex-end en el mediaquery */
  justify-content: center;
}
.signature span, .signature a, .layer_1{
  padding: 0;
  font-size: calc(0.6rem + .2vw);
  text-align: center;
  color: #dae6cce5;
}
.layer_1{
  width: 2.5rem;
  height: 2rem;
}
/* cambiar en mediaqueries */
.gallery-container{
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  display: none;
  justify-content: center;
  /* transition: var(--transition); */
}
.gallery{
/* margin: 0 auto; */
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-auto-rows: 14vh; */
  grid-gap:2vw;
  /* position: absolute; */
  /* top:100vh;   */
  /* transition: var(--transition); */
  /* animation: fade-in 0.5s ease-in-out both; */
}
.gallery.transition{
  top:7vh;
  transition: var(--transition);
}
.gallery-img-container{
  width: 100%;
  height: auto;
  overflow: hidden;
  display: inline-block;
}
.gallery-img-container img{
  border-radius:0.2rem;
}
.gallery img{
  width: fit-content;
  border-radius:0.2rem;
  /* height: fit-content; */
  /* display: inline-block; */
  overflow: hidden;
  object-fit: cover;
  transform:scale(1);
  filter:brightness(0.9);
  transition: transform 0.25s, filter 0.25s;
}
.gallery img:hover{
 transform: scale(1.1);
 filter: brightness(1.1);
 border-radius:0.2rem;
}
.gallery img:nth-child(5) {
  grid-column: 2;
  grid-row: 1 / 3;
}
.gallery img:nth-child(6) {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
}
.gallery img:nth-child(7) {
  grid-column:2;
  grid-row: 4 / 6;
}

.slider-container{
  padding:1rem 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content:center;
  position:absolute;
  top: auto;
}
.pics-counter{
  margin-bottom: 1.5rem;
  width: 100%;
  color: whitesmoke;
  text-align: center;
  /* margin-bottom: 2rem; */
  position: relative;
  /* top: -5rem; */
}
.gallery-slider-background{
  background-color: var(--black-background);
  box-shadow: 0px 1px 5px 3px rgba(38, 36, 36, 0.26);
}
.gallery-img-container{
  display: flex;
  justify-content: center;
  object-fit: contain;
  flex-flow: row nowrap;
}
.previous-btn, .next-btn{
  height: 100%;
  position: relative;
}
.previous-btn{
  left: 4.5vh;
}
.next-btn{
  right: 4.5vh;
}

/* //////////////////////////////////////////////// */
/* keyframes */
@keyframes rotate{
  10% {transform: rotate(-180deg);}
}
@keyframes undoRotate {
  0% {transform: rotate(0deg);}
  10% {transform: rotate(180deg);}
}
/* ///////////////////////////////////////////// */
/* screen */

@media(min-width:350px){
  h3{
    margin-bottom: 1.5rem;
  }
  p{
    margin: 0 1rem 1rem;
  }
}
@media(min-width:520px){
  .slider-container{
    padding: 1rem;
  }
}
@media(min-width:520px) and (max-width:780px){
  .menu-mobile-container{
    width: var(--menu-middleScreen-width);
  }
}
@media(min-width:800px){
  .carousel, main {
    width: 80vw;
  }
  .carousel{
    border-radius: 0.2rem;
    margin: 2rem 0;
    transition: var(--transition);
  }
  /* .carousel-img:hover{
    transition: var(--transition);
    opacity: var(--opacity);
  } */
  .d-block{
    /* cambiar en mediaqueries */
    max-width: 80vh;
    height: 60vh;
  }
  main{
    /* padding: 2rem 0; */
    margin: 0 auto;
    display:grid;
    grid-auto-rows: minmax(10em, auto);
    grid-template-columns: 50vw auto;
    writing-mode:horizontal-tb;
    gap: 2vw;
    box-shadow: none;
    /* align-content: start; */
  }
  main section{
    margin: 0;
    justify-content: flex-start;
  }
  #services{
    /* grid-column:1 / -1; 
    grid-column-end: 2; */
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .contact{
    margin: 0;
  }
  footer{
    padding: 5rem 0;
  }
  .logo-address{
    flex-flow: row wrap;
  }
  .gallery{
    max-width: var(--max-width-desktop);
  } 
  .gallery{
    grid-template-columns: repeat(3, 1fr);
    /* grid-auto-rows: 14vh; */
    grid-auto-rows:auto;
    grid-gap:2vw;
  }
  .gallery-img-container:nth-child(5) {
    grid-column: 3;
    grid-row: 1 / 3;
  }
  .gallery-img-container:nth-child(6) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  .gallery-img-container:nth-child(7) {
    grid-column:1;
    grid-row: 4 / 6;
  }
  .gallery-img-container:nth-child(4) {
    grid-column:-3 / -1;
    grid-row: 3 / 5;
  }
}
@media(min-width:781px){
  .menu-mobile-container{
    width: var(--menu-desktop-width);
  }
}
@media(min-width:920px){
  main{
    padding:2rem;
    justify-content: center;
  }
  .gallery-container{
    justify-content:center;
  }
}
@media(min-width:1200px){
  .carousel-btn{
    margin:0 auto;
  }
}
/* /////////////////////// */
/**Styling scrollable elements*/

.js-scroll {
  opacity: 0;
  transition: opacity 100ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 0.5s ease-in-out both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* .scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}
/* keyframes *
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
} */
